* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  background: #f1f1f1;
}

.titulo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: #606060;
}
@media screen and (max-width: 759px) {
  .titulo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
}

.btn {
  color: #fff;
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem 3rem;
  font-family: "Roboto", sans-serif;
}
.btn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 759px) {
  .btn {
    font-size: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 759px) {
  label,
  p {
    font-size: 0.875rem;
  }
}
.header {
  padding: 1rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-size: 1.4rem;
  color: #f44336;
}
@media screen and (max-width: 759px) {
  .header {
    padding: 0.5rem;
  }
  .header h1 {
    font-size: 1rem;
  }
  .header .header-search input {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
  .header .header-search input:focus, .header .header-search input:hover {
    width: 200px;
  }
}

.header-search {
  position: relative;
}
.header-search input {
  position: absolute;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 1rem;
  text-indent: 2rem;
  top: -1.125rem;
  width: 2rem;
  right: 1rem;
  transition: left 0.3s ease-in, width 2s;
  background: url("../../img/icones/search.svg") no-repeat left center;
  background-position: 0.5rem;
}
.header-search input:focus, .header-search input:hover {
  outline: none;
  border: 1px solid #b6b4b4;
  width: 320px;
}

.intro {
  background: url("./../img/london.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 759px) {
  .intro {
    background: none;
    align-items: initial;
  }
}

.search-menu {
  width: 890px;
  margin-top: 180px;
  margin-bottom: 180px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .search-menu {
    width: 700px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 759px) {
  .search-menu {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .search-menu .form {
    display: block;
  }
}

.search-buttons {
  display: flex;
}
.search-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: none;
  color: #fff;
  background: #000;
  padding: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
.search-buttons button:hover, .search-buttons button.active {
  background: #f44336;
  transition: all 0.3s ease-in;
}
.search-buttons button img {
  display: inline-block;
  width: 18px;
  margin-right: 0.7rem;
}

.search-options {
  background: #fff;
  padding: 1rem;
}
.search-options button {
  background: #606060;
  margin-bottom: 1rem;
}
.search-options button:hover {
  background: #b6b4b4;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 20px;
}
.form div {
  flex: 1;
}
.form label {
  flex: 1;
  display: block;
  color: #606060;
  margin-bottom: 4px;
}
.form input[type=text] {
  border: 1px solid #b6b4b4;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
.form input[type=text]::placeholder {
  color: #b6b4b4;
}
.form input[type=text]:focus {
  outline: none;
}

.offers {
  width: 1200px;
  margin: 60px auto;
}
.offers p {
  color: #606060;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .offers {
    width: 760px;
  }
  .offers .offers-items {
    gap: 1rem;
  }
}
@media screen and (max-width: 759px) {
  .offers {
    width: 100%;
    margin: 20px auto;
    padding: 1rem;
  }
  .offers .offers-items {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .offers .offers-items img {
    width: 100%;
    display: block;
  }
}

.offers-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.offers-items li {
  position: relative;
}
.offers-items span {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}

.gallery {
  width: 1200px;
  margin: 60px auto;
}
.gallery p {
  color: #606060;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .gallery {
    width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .gallery {
    width: 100%;
    margin: 20px auto;
    padding: 1rem;
  }
  .gallery .gallery-items {
    grid-template-columns: 1fr;
  }
}

.gallery-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.gallery-items li {
  background-color: #fff;
}

.items-description {
  margin-left: 1rem;
  padding-bottom: 1rem;
}
.items-description span {
  display: block;
  font-size: 0.875rem;
  color: #b6b4b4;
  margin-bottom: 0.5rem;
}
.items-description p {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.items-description a {
  text-decoration: none;
  color: #f44336;
}

.newsletter {
  width: 1200px;
  margin: 60px auto;
  background-color: #606060;
  padding: 1rem;
  color: #fff;
}
.newsletter h2 {
  color: #fff;
}
.newsletter p {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .newsletter {
    width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .newsletter {
    width: 100%;
    margin: 20px auto;
    padding: 1rem;
  }
}

.form-email label {
  display: block;
  margin-bottom: 0.2rem;
}
.form-email input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.form-email input::placeholder {
  color: #b6b4b4;
}
.form-email input:focus {
  outline: none;
}
.form-email button {
  display: block;
  background: #f44336;
  margin-bottom: 1rem;
}
.form-email button:hover {
  background: #f77066;
}

.contact {
  width: 1200px;
  margin: 60px auto;
}
.contact p {
  margin-bottom: 1rem;
}
.contact ul {
  margin-bottom: 1rem;
}
.contact ul li {
  font-size: 0.875rem;
  display: flex;
  margin-bottom: 0.3rem;
  gap: 1rem;
}
.contact ul li img {
  height: 20px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .contact {
    width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .contact {
    margin: 20px auto;
    width: 100%;
    padding: 1rem;
  }
  .contact .contact-form textarea {
    max-width: 100%;
  }
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  max-width: 1200px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  color: #b6b4b4;
  font-size: 1rem;
}
.contact-form button {
  background: #606060;
}
.contact-form button:hover {
  background: #b6b4b4;
}

.footer {
  width: 1200px;
  margin: 60px auto;
  text-align: center;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .footer {
    width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .footer {
    width: 100%;
    margin: 20px auto;
  }
}
.footer h3 {
  font-weight: 300;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.footer ul {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.footer ul img {
  height: 22px;
}
.footer span {
  font-size: 0.875rem;
  color: #606060;
}
.footer span a {
  color: #606060;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
