.newsletter {
  width: $l-device;
  margin: 60px auto;
  background-color: $primary-color;
  padding: 1rem;
  color: $white;
  h2 {
    color: $white;
  }
  p {
    margin-bottom: 0.5rem;
  }
  @include d(m) {
    width: $m-device;
  }
  @include d(s) {
    width: 100%;
    margin: 20px auto;
    padding: 1rem;
  }
}
.form-email {
  label {
    display: block;
    margin-bottom: 0.2rem;
  }
  input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    &::placeholder {
      color: $details;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    display: block;
    background: $secondary-color;
    margin-bottom: 1rem;
    &:hover {
      background: lighten($color: $secondary-color, $amount: 10%);
    }
  }
}
