.contact{
  width: $l-device;
  margin: 60px auto;
  p{
    margin-bottom: 1rem;
  }
  ul{
    margin-bottom: 1rem;
    li{
      font-size: .875rem;
      display: flex;
      margin-bottom: .3rem;
      gap: 1rem;
      img{
        height: 20px;
      }
    }
  }
}

.contact-form{
  input, textarea{
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
    max-width: $l-device;
    &:focus{
      outline: none;
    }
    &::placeholder{
      font-family: $font;
      color: $details;
      font-size: 1rem;
    }
  }
  button{
    background: $primary-color;
    &:hover{
      background: $details;
    }
  }
}
