.intro{
    background: url('../../img/london.jpg') no-repeat center center ;
    background-size: cover;
    display: flex;
   justify-content: center;
   align-items: center;

  
}

.form{
 width: 890px;
 height: 100px;
 margin-top: 180px;
 margin-bottom: 180px;
background-color: chartreuse;

}